+++
title = "Opekkt.Tech"
linkTitle = "Opekkt.Tech"

+++

{{< blocks/cover title="Welcome to Opekkt.Tech" image_anchor="bottom" height="full" color="gray" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documents <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Opekkt.Tech Blog <i class="fas fa-arrow-alt-circle-right ml-2""></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Latest Updates!" %}}
[Please follow this space for updates!](/blog/releases/)
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-hand-spock" title="Personal Blog!" %}}
<a href="https://opekktar.online/" target="_blank">Opekktar.Online</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-tree" title="Follow my Links" url="" %}}
<a href="https://linktr.ee/opekktar" target="_blank">on LinkTr.ee</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}
